
<h1>Product list</h1>
<div id="products">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Sku</th><th>Price</th><th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="product in products">
        <td>{{ product.ec_sku }}</td>
        <td>{{ product.ec_price }}</td>
        <td><button :ec-sku="product.ec_sku" class='btn btn-primary add-item'>Add</button></td>
      </tr>
    </tbody>
  </table>
</div>
